<h1 align="center"><b>KOTAK SALESIAN SCHOOL</b></h1>

<h2 align="center"><b>STUDENTS DATABASE MANAGEMENT</b></h2>

## **Import Required Libraries**

In [1]:
import os
import numpy as np
import sys
import datetime
import subprocess
import pandas as pd
import gspread
from oauth2client.service_account import ServiceAccountCredentials
from sqlalchemy import create_engine, text
from sqlalchemy.exc import SQLAlchemyError
import urllib.parse

## **Backup Files Before running New**

In [2]:
# * PostgreSQL Credentials
DB_USER = "postgres"
DB_PASSWORD = "Hari@123"
DB_NAME = "kotakschooldb"
DB_HOST = "localhost"
DB_PORT = "5432"
BACKUP_DIR = "D:/postgres_backups"  # * Backup directory

# * Full path to pg_dump (if needed)
PG_DUMP_PATH = r"C:\Program Files\PostgreSQL\17\bin\pg_dump.exe"

# * Ensure the backup directory exists
os.makedirs(BACKUP_DIR, exist_ok=True)

# * Generate a timestamp for the backup file
timestamp = datetime.datetime.now().strftime("%Y-%m-%d_%H-%M-%S")
backup_file = os.path.join(BACKUP_DIR, f"backup_{DB_NAME}_{timestamp}.sql")

# * Run pg_dump
try:
    result = subprocess.run(
        [
            PG_DUMP_PATH,  # Use full path if not in PATH
            "-U", DB_USER,
            "-h", DB_HOST,
            "-p", DB_PORT,
            "-F", "c",
            "-b",
            "-v",
            "-f", backup_file,
            DB_NAME
        ],
        env={**os.environ, "PGPASSWORD": DB_PASSWORD},
        stdout=subprocess.PIPE,
        stderr=subprocess.PIPE,
        text=True,
    )

    # * Check for errors
    if result.returncode == 0:
        print(f"‚úÖ Backup successful: {backup_file}")
    else:
        print(f"‚ùå Backup failed!\nError: {result.stderr}")

except FileNotFoundError:
    print(f"‚ö†Ô∏è pg_dump not found at {PG_DUMP_PATH}. Check PostgreSQL installation or system PATH.")

except Exception as e:
    print(f"‚ö†Ô∏è An unexpected error occurred: {e}")

‚úÖ Backup successful: D:/postgres_backups\backup_kotakschooldb_2025-09-22_06-25-15.sql

## **Import Libraries & Define Credentials**

In [3]:
# === CONFIG ===
GOOGLE_JSON_PATHS = {
    "2024-25": r"D:\GITHUB\kotak-school-dbms\google_api_keys\woven-solution-446513-f2-2024-25.json",
    "2025-26": r"D:\GITHUB\kotak-school-dbms\google_api_keys\woven-solution-446513-f2-2025-26.json",
}

GOOGLE_SHEET_TITLES = {
    "2024-25": "STUDENTS DETAILS 2024-25",
    "2025-26": "STUDENTS DETAILS 2025-26",
}

UNIQUE_KEY = "Adm No."

POSTGRES_CREDENTIALS = {
    "username": "postgres",
    "password": "Hari@123",
    "host": "localhost",
    "port": "5432",
    "database": "kotakschooldb",
}

TABLE_NAME1 = "students"
TABLE_NAME2 = "student_list"

## **Extract Data from Google Sheet**

In [4]:
# === FETCH GOOGLE SHEET ===
def fetch_data(sheet_title, worksheet_name="Overall", json_path=None):
    scope = ["https://spreadsheets.google.com/feeds", "https://www.googleapis.com/auth/drive"]
    creds = ServiceAccountCredentials.from_json_keyfile_name(json_path, scope)
    client = gspread.authorize(creds)
    spreadsheet = client.open(sheet_title)
    sheet = spreadsheet.worksheet(worksheet_name)
    data = sheet.get_all_records(head=3)
    return pd.DataFrame(data)

# === CLEAN COLUMN NAMES ===
def clean_column_names(df):
    df.columns = df.columns.str.strip()
    return df

In [5]:
TC_APPLIED_SHEET_NAME = "TC LIST"

def merge_and_tag():
    # Fetch and clean data
    df_2024 = clean_column_names(fetch_data(
        GOOGLE_SHEET_TITLES["2024-25"], "Overall", GOOGLE_JSON_PATHS["2024-25"]
    ))
    df_2025 = clean_column_names(fetch_data(
        GOOGLE_SHEET_TITLES["2025-26"], "Overall", GOOGLE_JSON_PATHS["2025-26"]
    ))

    # ‚úÖ Fetch TC applied sheet
    df_tc_applied = clean_column_names(fetch_data(
        GOOGLE_SHEET_TITLES["2024-25"], TC_APPLIED_SHEET_NAME, GOOGLE_JSON_PATHS["2024-25"]
    ))

    # Tag academic year
    df_2024["academic_year"] = "2024-25"
    df_2025["academic_year"] = "2025-26"

    # Ensure no NaN in unique key column
    df_2024 = df_2024.dropna(subset=[UNIQUE_KEY])
    df_2025 = df_2025.dropna(subset=[UNIQUE_KEY])

    # Get sets of unique keys
    codes_2024 = set(df_2024[UNIQUE_KEY])
    codes_2025 = set(df_2025[UNIQUE_KEY])
    tc_applied_ids = set(df_tc_applied[UNIQUE_KEY])

    # Determine who left and who is new
    left = codes_2024 - codes_2025
    new = codes_2025 - codes_2024

    # Find graduates = left students in max grade
    max_grade = df_2024["GRADES"].max()
    graduates = set(
        df_2024[(df_2024["GRADES"] == max_grade) & (df_2024[UNIQUE_KEY].isin(left))][UNIQUE_KEY]
    )

    # üîπ Assign status_id for 2024
    def get_status_2024(x):
        if x in graduates:
            return 4  # Graduated
        elif x in tc_applied_ids:
            return 5  # TC Applied
        elif x in left:
            return 2  # Not coming
        else:
            return 1  # Continuing

    df_2024["status_id"] = df_2024[UNIQUE_KEY].apply(get_status_2024)

    # üîπ Assign status_id for 2025
    df_2025["status_id"] = df_2025[UNIQUE_KEY].apply(
        lambda x: 3 if x in new else 1
    )

    # Merge and return
    return pd.concat([df_2024, df_2025], ignore_index=True)

In [6]:
def clean_data(df):
    df = df.copy()

    # ‚ú® Rename columns to match your database structure
    df.columns = [
        "sno", "adm_no", "name", "class", "gender", "mother_name", "father_name",
        "pen_number", "dob", "phone_no", "religion", "caste", "sub_caste",
        "second_lang", "remarks", "class_nos", "joined_year", "grade_id","student_aadhar", "father_aadhar", "mother_aadhar",
        "academic_year", "status_id"
    ]

    # Lowercase and strip spaces for consistency
    df.columns = df.columns.str.strip().str.lower()

    # üóìÔ∏è Convert DOB to PostgreSQL-friendly format
    df["dob"] = pd.to_datetime(df["dob"], format="%d-%m-%Y", errors='coerce').dt.strftime("%Y-%m-%d")

    # üî¢ Convert joined_year to integer
    df["joined_year"] = pd.to_numeric(df["joined_year"], errors="coerce").astype("Int64")

    # üßπ Remove optional junk column
    if "apaar_status" in df.columns:
        df.drop(columns=["apaar_status"], inplace=True)

    # Capitalize gender and reset S.No
    df["gender"] = df["gender"].str.upper()
    df["sno"] = range(1, len(df) + 1)

    # üü¢ Clean text fields
    df["adm_no"] = df["adm_no"].astype(str).str.strip()
    df["name"] = df["name"].astype(str).str.strip()
    df["academic_year"] = df["academic_year"].astype(str).str.strip()
    

    conditions = [
        df["grade_id"].between(1, 3),   # grade_id from 1 to 3
        df["grade_id"].between(4, 8)    # grade_id from 4 to 8
    ]
    choices = [1, 2]  # branch_id values

    df["branch_id"] = np.select(conditions, choices, default=3)


    # Sort for visual clarity
    df = df.sort_values(by=["academic_year", "class_nos", "gender", "name"])

    # Prefer non-null mother/father names when dropping duplicates
    df_sorted = df.sort_values(
        by=["adm_no", "mother_name", "father_name"],
        ascending=[True, True, True],
        na_position='last'  # Non-null values come first
    )
    
    df["academic_year_id"] = df["academic_year"].apply(lambda x: 1 if x== "2024-25" else 2)
    
    # üßæ Save CSV for auditing
    df.to_csv(r"D:\GITHUB\kotak-school-dbms\output_data\students_data.csv", index=False)

    student_list_df = df_sorted.drop_duplicates(subset="adm_no", keep="first")[
        [
            "adm_no", "name", "gender", "mother_name", "father_name",
            "pen_number", "dob", "phone_no", "religion", "caste",
            "sub_caste", "second_lang", "remarks", "student_aadhar", "father_aadhar", "mother_aadhar",
        ]
    ]

    student_list_df.to_csv(r"D:\GITHUB\kotak-school-dbms\output_data\student_list.csv", index=False)


    students_df = df[
        [
            "adm_no", "class_nos",
            "grade_id", "academic_year_id", "status_id","branch_id"
        ]
    ]


    print("‚úÖ Cleaned and split data saved.")

    return student_list_df, students_df

In [7]:
def update_database(df, table_name):
    import numpy as np
    password = urllib.parse.quote_plus(POSTGRES_CREDENTIALS["password"])
    engine = create_engine(
        f"postgresql+psycopg2://{POSTGRES_CREDENTIALS['username']}:{password}"
        f"@{POSTGRES_CREDENTIALS['host']}:{POSTGRES_CREDENTIALS['port']}/{POSTGRES_CREDENTIALS['database']}",
        echo=False
    )

    # Table creation logic
    table_create_sql = {
        "students": """
            CREATE TABLE IF NOT EXISTS students (
                id SERIAL PRIMARY KEY,
                adm_no VARCHAR,
                class_nos VARCHAR,
                grade_id VARCHAR,
                academic_year_id INT,
                status_id INT,
                branch_id INT
            );
        """,
        "student_list": """
            CREATE TABLE IF NOT EXISTS student_list (
                adm_no VARCHAR PRIMARY KEY,
                name VARCHAR,
                gender VARCHAR,
                mother_name VARCHAR,
                father_name VARCHAR,
                pen_number VARCHAR,
                dob DATE,
                phone_no VARCHAR,
                religion VARCHAR,
                caste VARCHAR,
                sub_caste VARCHAR,
                second_lang VARCHAR,
                remarks TEXT,
                student_aadhar VARCHAR,
                father_aadhar VARCHAR,
                mother_aadhar VARCHAR
            );
        """
    }

    try:
        with engine.begin() as conn:
            # ‚úÖ Create table if it does not exist
            if table_name in table_create_sql:
                conn.execute(text(table_create_sql[table_name]))
                print(f"üì¶ Table '{table_name}' created if it didn't exist.")

            # üóëÔ∏è Truncate before insert
            conn.execute(text(f"TRUNCATE TABLE {table_name} RESTART IDENTITY CASCADE;"))
            print(f"üßπ Old records deleted from '{table_name}'.")

        df = df.replace({pd.NA: None, np.nan: None})
        print(f"‚è≥ Inserting data into '{table_name}'...")

        df.to_sql(name=table_name, con=engine, if_exists='append', index=False, method='multi', chunksize=500)

        with engine.connect() as conn:
            result = conn.execute(text(f"SELECT COUNT(*) FROM {table_name};"))
            count = result.scalar()
            print(f"‚úÖ Insert complete. üìä Table '{table_name}' now contains {count} records.\n")

    except Exception as e:
        print(f"‚ùå Error updating table '{table_name}': {e}")

## **Clean Extracted Data**

In [8]:
if __name__ == "__main__":
    print("üöÄ Starting full student import pipeline...\n")

    merged_df = merge_and_tag()
    student_list_df, students_df = clean_data(merged_df)

    # Update master (student_list) and academic (students) tables
    update_database(students_df, "students")
    update_database(student_list_df, "student_list")

    print("üéâ All done! Both 'student_list' and 'students' tables updated successfully.")

üöÄ Starting full student import pipeline...

‚úÖ Cleaned and split data saved.
üì¶ Table 'students' created if it didn't exist.
üßπ Old records deleted from 'students'.
‚è≥ Inserting data into 'students'...
‚úÖ Insert complete. üìä Table 'students' now contains 3385 records.

üì¶ Table 'student_list' created if it didn't exist.
üßπ Old records deleted from 'student_list'.
‚è≥ Inserting data into 'student_list'...
‚úÖ Insert complete. üìä Table 'student_list' now contains 1945 records.

üéâ All done! Both 'student_list' and 'students' tables updated successfully.

<h2 align="center"><b>FEE REPORTS</b></h2>

## **Google Console Service Account: myschooldb@woven-solution-446513-f2.iam.gserviceaccount.com**

## **Import Necessary Libraries & Define Global Variables**

In [9]:
import urllib.parse
from sqlalchemy import create_engine, text
from sqlalchemy.exc import SQLAlchemyError

# === CONFIG ===
GOOGLE_JSON_PATHS = {
    "2024-25": r"D:\GITHUB\kotak-school-dbms\google_api_keys\woven-solution-446513-f2-2024-25-fees.json",
    "2025-26": r"D:\GITHUB\kotak-school-dbms\google_api_keys\woven-solution-446513-f2-2025-26-fees.json"
}

GOOGLE_SHEET_TITLES = {
    "2024-25": "Fee Reports 2024-25",
    "2025-26": "Fee Reports 2025-26",
}

POSTGRES_CREDENTIALS = {
    "username": "postgres",
    "password": "Hari@123",
    "host": "localhost",
    "port": "5432",
    "database": "kotakschooldb",
}


TABLE_NAME = "fees_table"

## **Function for Fetching Data**

In [10]:
# === FETCH GOOGLE SHEET ===
def fetch_data(sheet_title, worksheet_name="Overall Sheet", json_path=None):
    scope = ["https://spreadsheets.google.com/feeds", "https://www.googleapis.com/auth/drive"]
    creds = ServiceAccountCredentials.from_json_keyfile_name(json_path, scope)
    client = gspread.authorize(creds)
    spreadsheet = client.open(sheet_title)
    sheet = spreadsheet.worksheet(worksheet_name)
    data = sheet.get_all_records(head=3)
    return pd.DataFrame(data)

# === CLEAN COLUMN NAMES ===
def clean_column_names(df):
    df.columns = df.columns.str.strip()
    return df

In [11]:
# === MERGE AND TAG STATUS ===
def merge_and_tag():
    df_2024 = clean_column_names(fetch_data(GOOGLE_SHEET_TITLES["2024-25"], "Overall Sheet", GOOGLE_JSON_PATHS["2024-25"]))
    df_2025 = clean_column_names(fetch_data(GOOGLE_SHEET_TITLES["2025-26"], "Overall Sheet", GOOGLE_JSON_PATHS["2025-26"]))

    df_2024["academic_year"] = "2024-25"
    df_2025["academic_year"] = "2025-26"

    return pd.concat([df_2024, df_2025], ignore_index=True)

## **Function for Cleaning Data**

In [12]:
def clean_data(df):
    df = df[:-1][:-6]  # Remove unwanted rows

    df.columns = ['SNo', 'STUDENT_NAME', 'ADM_NO', 'FB_NO', 'CLASS',
                  'Term1', 'Term2', 'Term3', 'Term4', 'Total_Fee_Paid',
                  'Discount_Concession', 'Exempted', 'Total_Fee_Due', 'PermissionUpto',
                  'Fine', 'Payment_Status', 'ClassNo', "AcNo", 'Concession_type', 
                  "staff_name", "academic_year"]

    df.columns = df.columns.str.strip().str.lower()

    # üö´ Remove blank admission numbers & student names
    df = df[df["adm_no"].astype(str).str.strip() != ""]
    df = df.dropna(subset=["adm_no"])
    df = df[df["student_name"].astype(str).str.strip() != ""]
    df = df.dropna(subset=["student_name"])

    # üî¢ Convert numeric columns
    columns_to_convert = ["term1", "term2", "term3", "term4", "total_fee_paid",
                          "discount_concession", 'exempted', "total_fee_due", "fine"]
    df[columns_to_convert] = df[columns_to_convert].apply(pd.to_numeric, errors='coerce').fillna(0)

    # ‚ùå Drop unused columns
    df = df.drop(columns=["acno", 'concession_type'])

    # üî¢ Add serial number
    df["sno"] = range(1, len(df) + 1)
    df = df.sort_values(by=["sno"])

    # üí∞ Calculate total fees
    df["total_fees"] = df["total_fee_paid"] + df["discount_concession"] + df["total_fee_due"] + df["exempted"]

    # üÜî Academic year mapping
    df['academic_year_id'] = df['academic_year'].apply(lambda x: 1 if x == "2024-25" else 2)
    df = df.sort_values(by=["academic_year_id", "classno", "student_name"], ascending=[True, True, True])

    # üìÇ Save main fees report
    df.to_csv(r"D:\GITHUB\kotak-school-dbms\output_data\fees_report.csv", index=False)

    # ‚úÖ Ensure payment_status column exists
    if "payment_status" not in df.columns:
        df["payment_status"] = "Unknown"

    # üìÇ Create payment status table
    payment_status_df = df[["payment_status"]].sort_values(by="payment_status").drop_duplicates().reset_index(drop=True).copy()
    payment_status_df["payment_status_id"] = range(1, len(payment_status_df) + 1)
    payment_status_df = payment_status_df[["payment_status_id", "payment_status"]]
    payment_status_df.to_csv(r"D:\GITHUB\kotak-school-dbms\output_data\payment_status_table.csv", index=False)
    print("‚úÖ Fees Report & Payment Status Table created successfully.\n")

    
    # üìÇ Create staff child table
    df["staff"] = np.where(df['staff_name'].notnull() & df['staff_name'].str.strip().ne(''),1,0)    
    
    # ‚úÖ Extract only staff records for the child table
    staff_child_df = df[df["staff"] == 1][["staff_name"]].drop_duplicates().reset_index(drop=True)

    # Assign staff IDs sequentially
    staff_child_df["staff_id"] = range(1, len(staff_child_df) + 1)

    # Save staff child table
    staff_child_df.to_csv(r"D:\GITHUB\kotak-school-dbms\output_data\staff_child_table.csv", index=False)
    print("‚úÖ Staff Child Table created successfully.\n")

    # --- Step 1: Merge Payment Status ---
    if "payment_status" in df.columns and "payment_status" in payment_status_df.columns:
        payment_status_df = payment_status_df.drop_duplicates(subset=["payment_status"])
        df = df.merge(payment_status_df, on="payment_status", how="left")

    # --- Step 2: Merge Staff Child ---
    # Drop duplicate merge keys to avoid _x / _y
    merge_keys = ["staff_name"]
    staff_child_clean = staff_child_df.drop(
        columns=[col for col in staff_child_df.columns if col in df.columns and col not in merge_keys],
        errors="ignore"
    )
    df = df.merge(staff_child_clean, on=merge_keys, how="left")

    # Merge Payment Status first
    df = pd.merge(df, payment_status_df, on="payment_status", how="left")
    
    # --- Step 3: Final Cleanup ---
    # Drop any remaining _y columns
    df = df.drop(columns=[c for c in df.columns if c.endswith("_y")], errors="ignore")

    # Rename _x columns back to original
    df.columns = [c.replace("_x", "") for c in df.columns]

    # ‚ùå Drop extra columns before DB insert
    cols_to_drop = ["permissionupto", "payment_status", "student_name", "class", "staff_name", "academic_year"]
    df.drop(columns=[c for c in cols_to_drop if c in df.columns], inplace=True)

    df.columns = df.columns.str.lower().str.strip()

    return df

## **Function for Updating the Database**

In [13]:
# Encode password for URL safety
password = urllib.parse.quote(POSTGRES_CREDENTIALS["password"])

# Create Engine
engine = create_engine(f"postgresql+psycopg2://{POSTGRES_CREDENTIALS['username']}:{password}"
                       f"@{POSTGRES_CREDENTIALS['host']}:{POSTGRES_CREDENTIALS['port']}/{POSTGRES_CREDENTIALS['database']}")

def table_exists(table_name):
    check_query = """
    SELECT EXISTS (
        SELECT FROM information_schema.tables 
        WHERE table_schema = 'public' AND table_name = :table_name
    );
    """
    with engine.connect() as conn:
        result = conn.execute(text(check_query), {"table_name": table_name}).scalar()
    return result


def create_table():
    """Create table only if it does not exist"""
    print("üîß create_table() function called.")  # Debug print
    table_name = "fees_table"
    
    if table_exists(table_name):
        print(f"‚úÖ Table '{table_name}' already exists.")
        return

    create_table_query = """
    CREATE TABLE fees_table (
    sno SERIAL PRIMARY KEY,
    adm_no TEXT,
    fb_no TEXT,
    term1 NUMERIC DEFAULT 0,
    term2 NUMERIC DEFAULT 0,
    term3 NUMERIC DEFAULT 0,
    term4 NUMERIC DEFAULT 0,
    total_fee_paid NUMERIC DEFAULT 0,
    discount_concession NUMERIC DEFAULT 0,
    exempted NUMERIC DEFAULT 0,
    total_fee_due NUMERIC DEFAULT 0,
    fine NUMERIC DEFAULT 0,
    classno INTEGER,
    staff INTEGER,
    staff_id INTEGER,
    academic_year_id INTEGER NOT NULL,
    total_fees INTEGER DEFAULT 0,
    payment_status_id INTEGER
);
    """
    
    try:
        with engine.begin() as conn:
            conn.execute(text(create_table_query))
            print(f"‚úÖ Table '{table_name}' created successfully.")
    except Exception as e:
        print(f"‚ùå Error creating table: {e}")

In [14]:
def update_database(df):
    password = urllib.parse.quote(POSTGRES_CREDENTIALS["password"])
    engine = create_engine(
        f"postgresql+psycopg2://{POSTGRES_CREDENTIALS['username']}:{password}"
        f"@{POSTGRES_CREDENTIALS['host']}:{POSTGRES_CREDENTIALS['port']}/{POSTGRES_CREDENTIALS['database']}"
    )

    try:
        with engine.begin() as conn:
            # ‚úÖ Truncate existing table and reset serial ID
            conn.execute(text(f"TRUNCATE TABLE {TABLE_NAME} RESTART IDENTITY CASCADE;"))
            print(f"‚úÖ All records from the '{TABLE_NAME}' table have been deleted.\n")

            # ‚úÖ Add UNIQUE constraint on 'admissionno' (if it doesn't exist)
            conn.execute(text(f"""
                DO $$ 
                BEGIN 
                    -- Drop old constraint if exists
                    IF EXISTS (
                        SELECT 1 FROM information_schema.table_constraints 
                        WHERE table_name = '{TABLE_NAME}' AND constraint_name = 'unique_admissionno'
                    ) THEN
                        ALTER TABLE {TABLE_NAME} DROP CONSTRAINT unique_admissionno;
                    END IF;

                    -- Add new composite unique constraint if not exists
                    IF NOT EXISTS (
                        SELECT 1 FROM information_schema.table_constraints 
                        WHERE table_name = '{TABLE_NAME}' AND constraint_name = 'unique_adm_year'
                    ) THEN
                        ALTER TABLE {TABLE_NAME} ADD CONSTRAINT unique_adm_year UNIQUE ("adm_no", "academic_year_id");
                    END IF;
                END $$;
            """))

            print(f"‚úÖ Unique constraint on 'admissionno' ensured in the '{TABLE_NAME}' table.\n")

        print("‚úÖ Table cleared. Proceeding with data insertion...\n")

        # ‚úÖ Normalize column names
        df.columns = df.columns.str.lower()

        # ‚úÖ Insert data in chunks
        df.to_sql(
            name=TABLE_NAME,
            con=engine,
            if_exists='append',
            index=False,
            method='multi',
            chunksize=1000
        )

        print(f"‚úÖ {len(df)} records successfully inserted into '{TABLE_NAME}'.\n")

    except SQLAlchemyError as e:
        print(f"‚ùå An error occurred during database update: {e}")

## **Main Execution Block**

In [15]:
if __name__ == "__main__":
    # * Merge and tag both years
    combined_df = merge_and_tag()
    print("‚úÖ Raw data merged from both years.\n")

    # * Clean and process the merged data
    cleaned_df = clean_data(combined_df)
    print("‚úÖ Data cleaned and transformed successfully.\n")
    print("‚úÖ Final columns are:\n", cleaned_df.columns.to_list())

    # * Create table if it does not exist
    create_table()
    print("\n‚úÖ Table check/creation complete.\n")

    # * Drop duplicates by adm_no + year before insert
    cleaned_df = cleaned_df.drop_duplicates(subset=["adm_no", "academic_year_id"])
    print(f"‚úÖ Deduplicated. Final records to upload: {len(cleaned_df)}\n")

    # * Upload data using safe insertion
    update_database(cleaned_df)

‚úÖ Raw data merged from both years.

‚úÖ Fees Report & Payment Status Table created successfully.

‚úÖ Staff Child Table created successfully.

‚úÖ Data cleaned and transformed successfully.

‚úÖ Final columns are:
 ['sno', 'adm_no', 'fb_no', 'term1', 'term2', 'term3', 'term4', 'total_fee_paid', 'discount_concession', 'exempted', 'total_fee_due', 'fine', 'classno', 'total_fees', 'academic_year_id', 'staff', 'payment_status_id', 'staff_id']
üîß create_table() function called.
‚úÖ Table 'fees_table' already exists.

‚úÖ Table check/creation complete.

‚úÖ Deduplicated. Final records to upload: 3384

‚úÖ All records from the 'fees_table' table have been deleted.

‚úÖ Unique constraint on 'admissionno' ensured in the 'fees_table' table.

‚úÖ Table cleared. Proceeding with data insertion...

‚úÖ 3384 records successfully inserted into 'fees_table'.

<h2 align="center"><b>DAY WISE REPORTS</b></h2>

## **Import Required Libraries**

In [16]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
from sqlalchemy import create_engine, text

## **Define Login Credentials and MySQL Credentials**

In [17]:
# * üîπ Login Credentials
login_url = "https://app.myskoolcom.tech/kotak_vizag/login"
urls_to_fetch = [
    "https://app.myskoolcom.tech/kotak_vizag/office_fee/fee_reports_day_wise_receipt_wise_print?academic_years_id=1",
    "https://app.myskoolcom.tech/kotak_vizag/office_fee/fee_reports_day_wise_receipt_wise_print?academic_years_id=7",
]

credentials = {
    "uname": "harikiran",
    "psw": "812551"
}

POSTGRES_CREDENTIALS = {
    "username": "postgres",
    "password": "Hari@123",
    "host": "localhost",
    "port": "5432",
    "database": "kotakschooldb",
}

TABLE_NAME = "daywise_fees_collection"

In [18]:
## **Function to determine academic year from URL**
def get_academic_year_from_url(url):
    if "academic_years_id=1" in url:
        return "2024-25"
    elif "academic_years_id=7" in url:
        return "2025-26"
    else:
        raise ValueError(f"Unexpected academic_years_id in URL: {url}")

## **Define Functions for Each Step**

In [19]:
def login_to_website():
    session = requests.Session()
    login_response = session.post(login_url, data=credentials)

    if "Invalid" in login_response.text:
        print("‚ùå Login failed! Check credentials.\n")
        return None
    else:
        print("‚úÖ Login successful!\n")
        return session

## **Function to Fetch Fee Report Page**

In [20]:
def fetch_fee_report_page(session, data_url):
    response = session.get(data_url)
    soup = BeautifulSoup(response.text, "html.parser")
    table = soup.find("table")
    return table

## **Function to Extract Data from Table**

In [21]:
## **Function to Extract Data from Table**
def extract_data_from_table(table):
    rows = []
    for tr in table.find_all("tr"):
        cols = [td.text.strip() for td in tr.find_all("td")]
        if cols:
            rows.append(cols)

    if not rows:
        raise ValueError("No rows found in table")

    num_cols = len(rows[0])

    if num_cols == 12:
        header_row = [
            "SNo", "RecieptNo", "Class", "AdmissionNo", "StudentName", 
            "Date", "-", "Abacus / Vediic Maths", "TERM FEE", "TERM FEE2", 
            "ReceivedAmount", "Remarks"
        ]
    elif num_cols == 11:
        header_row = [
            "SNo", "RecieptNo", "Class", "AdmissionNo", "StudentName", 
            "Date", "-", "Abacus / Vediic Maths", "TERM FEE", 
            "ReceivedAmount", "Remarks"
        ]
    else:
        raise ValueError(f"‚ö†Ô∏è Unexpected number of columns: {num_cols}")

    df = pd.DataFrame(rows, columns=header_row)
    return df

## **Function to Clean Data**

In [22]:
def clean_and_tag_data(df, academic_year):
    # 1Ô∏è‚É£ Date parsing
    df['Date'] = pd.to_datetime(df['Date'], format='%d-%m-%Y', errors='coerce')

    # 2Ô∏è‚É£ Data type conversions
    df['AdmissionNo'] = df['AdmissionNo'].astype(str)
    if "Class" in df.columns:
        df["Class"] = df["Class"].str.replace("/", " - ", regex=False)
    if "ReceivedAmount" in df.columns:
        df["ReceivedAmount"] = pd.to_numeric(df["ReceivedAmount"], errors="coerce")

    # 3Ô∏è‚É£ Academic year tagging (numeric code)
    df["academic_year_id"] = 1 if academic_year == "2024-25" else 2

    # 4Ô∏è‚É£ Apply "TERM" row slicing only for 2024-25
    if academic_year == "2024-25" and "SNo" in df.columns:
        term_index = df[df["SNo"].astype(str).str.contains("TERM", na=False)].index
        if not term_index.empty:
            df = df.iloc[:term_index[0]]

    # 5Ô∏è‚É£ Drop unnecessary columns if they exist
    cols_to_drop = [ "-", "Abacus / Vediic Maths", "TERM FEE", "TERM FEE2", "RecieptNo", "Class", "StudentName", 'Remarks']
    df = df.drop(columns=[col for col in cols_to_drop if col in df.columns])

    # 6Ô∏è‚É£ Drop rows without valid dates
    df = df.dropna(subset=["Date"])

    return df

## **Function to Update Database**

In [23]:
def update_database(df):
    password = urllib.parse.quote(POSTGRES_CREDENTIALS["password"])
    engine = create_engine(
        f"postgresql+psycopg2://{POSTGRES_CREDENTIALS['username']}:{password}"
        f"@{POSTGRES_CREDENTIALS['host']}:{POSTGRES_CREDENTIALS['port']}/{POSTGRES_CREDENTIALS['database']}"
    )

    # Define SQL table creation (only if not exists)
    create_table_sql = f"""
    CREATE TABLE IF NOT EXISTS {TABLE_NAME} (
        "SNo" TEXT,
        "AdmissionNo" TEXT,
        "Date" DATE,
        "ReceivedAmount" NUMERIC,
        "academic_year_id" INTEGER
    );
    """

    try:
        with engine.connect() as conn:
            conn.execute(text(create_table_sql))  # ‚úÖ Ensure table exists

            conn.execute(text("BEGIN;"))
            conn.execute(text(f"TRUNCATE TABLE {TABLE_NAME};"))
            conn.execute(text("COMMIT;"))
            print(f"‚úÖ Table '{TABLE_NAME}' ensured and truncated.\n")

            # ‚úÖ Insert DataFrame
            df.to_sql(name=TABLE_NAME, con=engine, if_exists='append', index=False, method="multi", chunksize=1000)
            print(f"‚úÖ {len(df)} records inserted into '{TABLE_NAME}' successfully.\n")
    except Exception as e:
        print(f"‚ö†Ô∏è Error inserting data: {e}")

In [24]:
## **Main Function**
def main():
    session = login_to_website()
    if session is None:
        return

    all_dfs = []

    for url in urls_to_fetch:
        academic_year = get_academic_year_from_url(url)
        print(f"üìÑ Fetching data for academic year: {academic_year}")
        table = fetch_fee_report_page(session, url)

        if table:
            df = extract_data_from_table(table)
            df = clean_and_tag_data(df, academic_year)
            print(f"‚úÖ Data extracted for year {academic_year} with {len(df)} records.\n")

            df.to_csv(fr"D:\GITHUB\kotak-school-dbms\output_data\daywise_fees_collection_{academic_year}.csv", index=False)
            all_dfs.append(df)
        else:
            print(f"‚ùå Table not found for year {academic_year}!")

    if all_dfs:
        final_df = pd.concat(all_dfs, ignore_index=True)
        final_df.to_csv(r"D:\GITHUB\kotak-school-dbms\output_data\daywise_fees_collection.csv", index=False)
        print("‚úÖ Data saved to daywise_fees_collection.csv\n")

        update_database(final_df)
        print("‚úÖ Columns:\n", final_df.columns)
        print(f"‚úÖ Total {len(final_df)} records entered into database.")
    else:
        print("‚ùå No data to process!")

## **Run the Main Function**

In [25]:
## **Run the Script**
if __name__ == "__main__":
    main()

‚úÖ Login successful!

üìÑ Fetching data for academic year: 2024-25
‚úÖ Data extracted for year 2024-25 with 5824 records.

üìÑ Fetching data for academic year: 2025-26
‚úÖ Data extracted for year 2025-26 with 2109 records.

‚úÖ Data saved to daywise_fees_collection.csv

‚úÖ Table 'daywise_fees_collection' ensured and truncated.

‚úÖ 7933 records inserted into 'daywise_fees_collection' successfully.

‚úÖ Columns:
 Index(['SNo', 'AdmissionNo', 'Date', 'ReceivedAmount', 'academic_year_id'], dtype='object')
‚úÖ Total 7933 records entered into database.

<h2 align="center"><b>ATTENDANCE REPORT</b></h2>

## **Import Libraries**

In [26]:
# import os
# import time
# import pandas as pd
# from datetime import datetime, timedelta
# from selenium import webdriver
# from selenium.webdriver.common.by import By
# from selenium.webdriver.common.keys import Keys
# from selenium.webdriver.chrome.service import Service
# from selenium.webdriver.support.ui import WebDriverWait
# from selenium.webdriver.support import expected_conditions as EC
# from webdriver_manager.chrome import ChromeDriverManager

## **Login to Website**

In [27]:
# # ‚úÖ Config
# login_url = "https://app.myskoolcom.tech/kotak_vizag/login"
# attendance_url = "https://app.myskoolcom.tech/kotak_vizag/admin/attedance_grid"

# credentials = {
#     "uname": "harikiran",
#     "psw": "812551"
# }

# download_folder = r"D:\GITHUB\kotak-school-dbms\source_data\Attendance Reports"
# merged_output_path = os.path.join(download_folder, "MergedAttendance_2025_26.csv")

# academic_ranges = {
#     "2025-26": ("2025-06-16", datetime.today().strftime("%Y-%m-%d"))
#     # "2025-26": ("2025-06-16", datetime.today().strftime("%Y-%m-%d"))
# }

In [28]:
# # ‚úÖ Setup Chrome Driver
# chrome_options = webdriver.ChromeOptions()
# prefs = {"download.default_directory": download_folder}
# chrome_options.add_experimental_option("prefs", prefs)
# driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()), options=chrome_options)
# wait = WebDriverWait(driver, 10)

# # ‚úÖ Functions
# def login():
#     driver.get(login_url)
#     wait.until(EC.presence_of_element_located((By.NAME, "uname"))).send_keys(credentials["uname"])
#     driver.find_element(By.NAME, "psw").send_keys(credentials["psw"])
#     driver.find_element(By.NAME, "psw").send_keys(Keys.RETURN)
#     print("‚úÖ Logged in successfully!")
#     time.sleep(5)

# def set_date_range(start, end):
#     driver.get(attendance_url)
#     time.sleep(2)
#     from_date_input = wait.until(EC.presence_of_element_located((By.ID, "from_attendance_date")))
#     driver.execute_script("arguments[0].removeAttribute('readonly')", from_date_input)
#     from_date_input.clear()
#     from_date_input.send_keys(start)

#     to_date_input = wait.until(EC.presence_of_element_located((By.ID, "to_attendance_date")))
#     driver.execute_script("arguments[0].removeAttribute('readonly')", to_date_input)
#     to_date_input.clear()
#     to_date_input.send_keys(end)

#     print(f"‚úÖ Date range set: {start} to {end}")

# def download_csv(filename):
#     try:
#         if os.path.exists(filename):
#             os.remove(filename)
#         download_button = wait.until(EC.element_to_be_clickable((By.ID, "smaplecsv")))
#         download_button.click()
#         time.sleep(8)
#         downloaded = sorted(
#             [f for f in os.listdir(download_folder) if f.endswith(".csv")],
#             key=lambda x: os.path.getctime(os.path.join(download_folder, x)),
#             reverse=True
#         )[0]
#         os.rename(os.path.join(download_folder, downloaded), filename)
#         print(f"‚úÖ Downloaded and renamed to: {filename}")
#     except Exception as e:
#         print(f"‚ùå Error downloading file: {e}")

# def date_batches(start, end, months=1):
#     start_date = datetime.strptime(start, "%Y-%m-%d")
#     end_date = datetime.strptime(end, "%Y-%m-%d")
#     while start_date < end_date:
#         batch_end = min(start_date + timedelta(days=30 * months), end_date)
#         yield (start_date.strftime("%Y-%m-%d"), batch_end.strftime("%Y-%m-%d"))
#         start_date = batch_end + timedelta(days=1)

# def merge_csvs(folder, output_file, year_filter="2025-26"):
#     all_csvs = [
#         os.path.join(folder, f)
#         for f in os.listdir(folder)
#         if f.endswith(".csv") and year_filter in f
#     ]

#     merged_df = pd.DataFrame()

#     for f in all_csvs:
#         try:
#             df = pd.read_csv(f, low_memory=False)
#             if "Students Number" in df.columns:
#                 # Merge logic: remove duplicates by date + student number
#                 df["Date"] = pd.to_datetime(df["Date"], errors="coerce")
#                 df = df.dropna(subset=["Date", "Students Number"])

#                 # Merge with deduplication
#                 if not merged_df.empty:
#                     merged_df = pd.concat([merged_df, df], ignore_index=True)
#                     merged_df.drop_duplicates(subset=["Date", "Students Number"], keep="last", inplace=True)
#                 else:
#                     merged_df = df
#                 print(f"üîÑ Merged file (with Students Number): {os.path.basename(f)}")
#             else:
#                 # Append directly if "Students Number" not found
#                 merged_df = pd.concat([merged_df, df], ignore_index=True)
#                 print(f"‚ûï Appended file (no Students Number): {os.path.basename(f)}")
#         except Exception as e:
#             print(f"‚ùå Error reading file {f}: {e}")

#     merged_df.to_csv(output_file, index=False)
#     print(f"‚úÖ Final merged file saved: {output_file}")

#     # ‚úÖ MAIN Execution
# login()

# # ‚úÖ MAIN Execution
# login()

# for year, (start, end) in academic_ranges.items():
#     print(f"\nüìÖ Downloading attendance for {year}")
#     for i, (s, e) in enumerate(date_batches(start, end)):
#         s_fmt = datetime.strptime(s, "%Y-%m-%d")
#         e_fmt = datetime.strptime(e, "%Y-%m-%d")
#         filename = f"Attendance_{year}_{s_fmt.strftime('%b')}_{e_fmt.strftime('%b')}.csv"
#         filepath = os.path.join(download_folder, filename)
#         set_date_range(s_fmt.strftime("%Y-%m-%d"), e_fmt.strftime("%Y-%m-%d"))
#         download_csv(filepath)

# # ‚ùå No merging now ‚Äì only individual files will be downloaded and renamed
# # merge_csvs(download_folder, merged_output_path, year_filter="2025-26")

# driver.quit()
# print("‚úÖ All attendance downloads complete ‚Äì individual files saved!")

## **üìå Step 1: Import Libraries**

In [29]:
# import pandas as pd
# from sqlalchemy import create_engine
# import logging
# import numpy as np
# import urllib
# import traceback
# from datetime import datetime


# # * Configure logging
# logging.basicConfig(filename=r"D:\GITHUB\kotak-school-dbms\output_data\attendance_report.log", level=logging.ERROR, 
#                     format="%(asctime)s - %(levelname)s - %(message)s")

## **üìå Step 2: Define PostgreSQl Credentials & Table Name**

In [30]:
# # * POSTGRES_CREDENTIALS
# POSTGRES_CREDENTIALS = {
#     "username": "postgres",
#     "password": "Hari@123",
#     "host": "localhost",
#     "port": "5432",
#     "database": "kotakschooldb",
# }
# TABLE_NAME = "attendance_report"

## **üìå Step 3: Load and Clean Data**

In [31]:
# import pandas as pd

# def load_and_clean_data(file1, file2, file3=None, file4=None, file5=None):
#     # Load DataFrames (read as str to avoid DtypeWarning)
#     dfs = [pd.read_csv(f, dtype=str) for f in [file1, file2, file3, file4, file5] if f is not None]

#     # Clean column names
#     for i in range(len(dfs)):
#         dfs[i].columns = dfs[i].columns.str.strip().str.replace('"', '', regex=False)

#         # Strip spaces from all string columns
#         dfs[i] = dfs[i].apply(lambda x: x.str.strip() if x.dtype == "object" else x)

#         # üõ† Date cleaning (if column exists)
#         if 'Date' in dfs[i].columns:
#             dfs[i]['Date'] = pd.to_datetime(dfs[i]['Date'], dayfirst=True, errors='coerce')

#             # Warn about invalid dates
#             bad_dates = dfs[i][dfs[i]['Date'].isna()]
#             if not bad_dates.empty:
#                 print(f"‚ö†Ô∏è Invalid dates found in file {i+1}:")
#                 print(bad_dates[['Date']].head(10))  # Show first 10

#     # Merge logic
#     base_df = dfs[0]
#     for df in dfs[1:]:
#         conflict_cols = [col for col in df.columns if col in base_df.columns and col != 'Students Number']
#         df = df.drop(columns=conflict_cols, errors='ignore')
#         base_df = base_df.merge(df, on="Students Number", how="outer")

#     df = base_df

#     # Merge fields like Name, Class if duplicated
#     for field in ['Name', 'Class']:
#         col_x, col_y = f"{field}_x", f"{field}_y"
#         if col_x in df.columns and col_y in df.columns:
#             df[field] = df[col_x].combine_first(df[col_y])
#             df.drop([col_x, col_y], axis=1, inplace=True)
#         elif col_x in df.columns:
#             df[field] = df.pop(col_x)
#         elif col_y in df.columns:
#             df[field] = df.pop(col_y)

#     # Drop remaining _x/_y columns
#     df = df.drop(columns=[col for col in df.columns if col.endswith('_x') or col.endswith('_y')], errors='ignore')

#     # Rename key identifier
#     df = df.rename(columns={"Students Number": "AdmissionNo"})

#     # Drop unnecessary columns
#     drop_cols = ['Present Days', 'Absent Days', 'Toral Working Days']
#     df = df.drop(columns=[col for col in drop_cols if col in df.columns], errors='ignore')

#     # Reorder columns
#     key_cols = ['AdmissionNo', 'Name', 'Class']
#     other_cols = [col for col in df.columns if col not in key_cols]
#     df = df[key_cols + other_cols]

#     return df

# **üìå Step 4: Process Attendance Data**

In [32]:

# def process_attendance_data(df):
#     # * Step 1: Clean AdmissionNo (remove 786 and purely alphabetical ones)
#     df = df[~(df["AdmissionNo"].astype(str) == "786") & ~df["AdmissionNo"].astype(str).str.match(r"^[a-zA-Z]+$")].copy()

#     # * Step 2: Clean Class name (remove ICSE wrapper)
#     df["Class"] = df["Class"].astype(str).str.replace(r"ICSE \((.*?)\)", r"\1", regex=True)

#     # * Step 3: Load class info with academic year
#     student_df = pd.read_csv(r"D:\GITHUB\kotak-school-dbms\output_data\fees_report.csv")[["adm_no", "academic_year_id", "class"]]
#     print("‚úÖ Students Before Merging\n", len(df["AdmissionNo"].unique()))
#     df = df[df["AdmissionNo"].isin(student_df["adm_no"])]
#     print("‚úÖ Students After Merging\n", len(df["AdmissionNo"].unique()))

#     # * Step 4: Unpivot attendance columns to Date-wise rows
#     df_unpivot = pd.melt(df, id_vars=["AdmissionNo", "Name", "Class"], var_name="Date", value_name="AttendanceStatus")
#     df_unpivot["Date"] = pd.to_datetime(df_unpivot["Date"], format='%d.%m.%Y', errors='coerce')

#     # * Step 5: Remove invalid past records for new students
#     numeric_mask = df_unpivot["AdmissionNo"].str.isnumeric()
#     df_unpivot.loc[numeric_mask, "adm_no_int"] = df_unpivot.loc[numeric_mask, "AdmissionNo"].astype(int)
#     df_unpivot = df_unpivot[
#         ~((df_unpivot["Date"] < datetime(2024, 4, 1)) & (df_unpivot["adm_no_int"] > 17165))
#     ]
#     df_unpivot.drop(columns=["adm_no_int"], inplace=True)

#     df_unpivot["id"] = range(1, len(df_unpivot) + 1)

#     if df_unpivot["Date"].isna().sum() > 0:
#         print("‚ö†Ô∏è Warning: Some Date values were invalid and converted to NaT.")

#     df_unpivot = df_unpivot.sort_values("Date", ascending=False).reset_index(drop=True)

#     # * Step 6: Mark "Not Joined"
#     first_attendance_dates = df_unpivot[df_unpivot['AttendanceStatus'].notna()].groupby('AdmissionNo')['Date'].min()
#     df_unpivot['AttendanceStatus'] = df_unpivot.apply(
#         lambda row: "Not Joined" if row['Date'] < first_attendance_dates.get(row['AdmissionNo'], row['Date']) else row['AttendanceStatus'],
#         axis=1
#     )

#     # * Step 7: Prioritize and deduplicate attendance
#     priority_map = {'P': 2, 'A': 1, 'H': 3, 'Not Joined': 4, 'TC': 5}
#     df_unpivot['Priority'] = df_unpivot["AttendanceStatus"].map(priority_map)
#     df_unpivot = df_unpivot.sort_values(by=['AdmissionNo', 'Date', 'Priority']) \
#                            .drop_duplicates(subset=['AdmissionNo', 'Date'], keep='first') \
#                            .drop(columns=['Priority'])

#     # * Step 8: Clean Class + Standardize AttendanceStatus
#     df_unpivot['Class'] = df_unpivot['Class'].str.replace("Pre KG - ", "Pre KG")
#     df_unpivot["AttendanceStatus"] = df_unpivot["AttendanceStatus"].replace({
#         'P': "Present", 'A': "Absent", 'H': "Holiday"
#     })
#     df_unpivot.sort_values(by=['Date'], ascending=False, inplace=True)

#     # * Step 9: Assign academic year from Date
#     df_unpivot['academic_year_id'] = df_unpivot['Date'].apply(
#         lambda d: 1 if pd.Timestamp("2024-07-17") <= d <= pd.Timestamp("2025-03-31")
#         else 2 if pd.Timestamp("2025-06-16") <= d <= pd.Timestamp(datetime.today().date())
#         else ""
#     )

#     # * Step 10: Assign ClassNo by academic year
#     student_df["adm_no"] = student_df["adm_no"].astype(str)
#     lookup_2024 = student_df[student_df["academic_year_id"] == 1]
#     lookup_2025 = student_df[student_df["academic_year_id"] == 2]

#     lookup_map_2024 = {row["adm_no"]: row["class"] for _, row in lookup_2024.iterrows()}
#     lookup_map_2025 = {row["adm_no"]: row["class"] for _, row in lookup_2025.iterrows()}

#     class_mapping = {
#         "Pre KG": 1, "LKG - A": 2, "LKG - B": 3, "UKG - A": 4, "UKG - B": 5, "UKG - C": 6,
#         "I - A": 7, "I - B": 8, "I - C": 9, "I - D": 10,
#         "II - A": 11, "II - B": 12, "II - C": 13, "II - D": 14,
#         "III - A": 15, "III - B": 16, "III - C": 17, "III - D": 18,
#         "IV - A": 19, "IV - B": 20, "IV - C": 21, "IV - D": 22,
#         "V - A": 23, "V - B": 24, "V - C": 25, "V - D": 26,
#         "VI - A": 27, "VI - B": 28, "VI - C": 29, "VI - D": 30,
#         "VII - A": 31, "VII - B": 32, "VII - C": 33, "VII - D": 34,
#         "VIII - A": 35, "VIII - B": 36, "VIII - C": 37, "VIII - D": 38,
#         "IX - A": 39, "IX - B": 40, "IX - C": 41,
#         "X - A": 42, "X - B": 43, "X - C": 44
#     }

#     def get_class_no_2024(adm_no):
#         class_name = lookup_map_2024.get(str(adm_no), "")
#         return class_mapping.get(class_name, np.nan)

#     def get_class_no_2025(adm_no):
#         class_name = lookup_map_2025.get(str(adm_no), "")
#         return class_mapping.get(class_name, np.nan)

#     df_2024 = df_unpivot[df_unpivot["academic_year_id"] == 1].copy()
#     df_2025 = df_unpivot[df_unpivot["academic_year_id"] == 2].copy()

#     valid_adm_nos_2025 = set(lookup_map_2025.keys())
#     df_2025 = df_2025[df_2025["AdmissionNo"].astype(str).isin(valid_adm_nos_2025)].copy()

#     df_2024["ClassNo"] = df_2024["AdmissionNo"].apply(get_class_no_2024)
#     df_2025["ClassNo"] = df_2025["AdmissionNo"].apply(get_class_no_2025)

#     df_unpivot = pd.concat([df_2024, df_2025], ignore_index=True)
#     df_unpivot["ClassNo"] = df_unpivot["ClassNo"].fillna(0).astype(int)

#     # * Step 11: Grade level (classId)
#     grade_mapping = [
#         ("Pre KG", 1), ("LKG", 2), ("UKG", 3),
#         ("I", 4), ("II", 5), ("III", 6), ("IV", 7), ("V", 8),
#         ("VI", 9), ("VII", 10), ("VIII", 11), ("IX", 12), ("X", 13)
#     ]
#     conditions = [df_unpivot['Class'].str.contains(fr"\b{k}\b", na=False, regex=True) for k, _ in grade_mapping]
#     choices = [v for _, v in grade_mapping]
#     df_unpivot['classId'] = np.select(conditions, choices, default=0).astype(int)

#     # * Step 12: AttendanceStatusId
#     AttendanceStatus_mapping = [("Absent", 1), ("Present", 2), ("Not Joined", 3), ("Holiday", 4)]
#     conditions = [df_unpivot['AttendanceStatus'].str.contains(k, na=False) for k, _ in AttendanceStatus_mapping]
#     choices = [v for _, v in AttendanceStatus_mapping]
#     df_unpivot['AttendanceStatusId'] = np.select(conditions, choices, default=0).astype(int)

#     # * Step 13: BranchId
#     branch_mapping = [
#         ('Pre KG', 1), ('LKG', 1), ('UKG', 1),
#         ('I', 2), ('II', 2), ('III', 2), ('IV', 2), ('V', 2),
#         ('VI', 3), ('VII', 3), ('VIII', 3), ('IX', 3), ('X', 3)
#     ]
#     conditions = [df_unpivot['Class'].str.contains(fr"\b{k}\b", na=False, regex=True) for k, _ in branch_mapping]
#     choices = [v for _, v in branch_mapping]
#     df_unpivot['branchId'] = np.select(conditions, choices, default=0).astype(int)

#     # ‚úÖ Final output
#     df_unpivot = df_unpivot[[
#         "id", "Date", "AdmissionNo", "ClassNo", "classId", "branchId", "AttendanceStatusId", "academic_year_id"
#     ]]
#     df_unpivot.columns = [c.lower() for c in df_unpivot.columns]

#     print(f"‚úÖ Processed data with {len(df_unpivot)} rows.")
#     print(f"‚úÖ Columns are:\n {df_unpivot.columns}")
#     return df_unpivot

## **üìå Step 5: Insert Data into PostgreSQL**

In [33]:
# from sqlalchemy import text

# def ensure_table_exists():
#     create_table_sql = f"""
#     CREATE TABLE IF NOT EXISTS {TABLE_NAME} (
#         id SERIAL PRIMARY KEY,
#         date DATE,
#         admissionno TEXT,
#         classno INTEGER,
#         classid INTEGER,
#         branchid INTEGER,
#         attendancestatusid INTEGER,
#         academic_year_id INTEGER
#     );
#     """
#     try:
#         with engine.begin() as connection:  # ‚úÖ ensures DDL is committed
#             connection.execute(text(create_table_sql))
#         print(f"‚úÖ Table '{TABLE_NAME}' ensured.")
#     except Exception as e:
#         print(f"‚ùå Failed to create or check table '{TABLE_NAME}': {e}")

In [34]:
# # Create database engine
# password = urllib.parse.quote(POSTGRES_CREDENTIALS["password"])
# engine = create_engine(
#     f"postgresql+psycopg2://{POSTGRES_CREDENTIALS['username']}:{password}"
#     f"@{POSTGRES_CREDENTIALS['host']}:{POSTGRES_CREDENTIALS['port']}/{POSTGRES_CREDENTIALS['database']}"
# )

# def update_database(df):
#     """Use PostgreSQL COPY for ultra-fast data insertion."""
#     csv_path = (r"D:\GITHUB\kotak-school-dbms\output_data\attendance_report.csv")

#     # ‚úÖ Ensure column names are lowercase to match table definition
#     df.columns = [c.lower() for c in df.columns]

#     # ‚úÖ Save DataFrame to CSV
#     df.to_csv(csv_path, index=False, header=False)

#     try:
#         conn = engine.raw_connection()
#         cursor = conn.cursor()

#         print(f"üîÑ Truncating table: {TABLE_NAME}")
#         cursor.execute(f"TRUNCATE TABLE {TABLE_NAME};")
#         conn.commit()

#         with open(csv_path, "r") as f:
#             cursor.copy_from(f, TABLE_NAME, sep=",")  # ‚úÖ lowercase and unquoted

#         conn.commit()
#         cursor.close()
#         conn.close()

#         print(f"‚úÖ Data copied to '{TABLE_NAME}' using COPY command!")

#     except Exception as e:
#         print(f"‚ùå COPY failed: {e}")
#         logging.error(traceback.format_exc())

## **üìå Step 6: Run the Full Pipeline**

In [35]:
# def main():
#     # üìå Already-clean 2024-25 data
#     file_2024_25 = r"D:\GITHUB\kotak-school-dbms\output_data\attendance_report_2024_25.csv"

#     # üìå Raw 2025-26 files
#     file4 = r"D:\GITHUB\kotak-school-dbms\source_data\Attendance Reports\Attendance_2025-26_Jun_Jul.csv"
#     file5 = r"D:\GITHUB\kotak-school-dbms\source_data\Attendance Reports\Attendance_2025-26_Jul_Aug.csv"

#     output_file = r"D:\GITHUB\kotak-school-dbms\output_data\attendance_report.csv"

#     try:
#         print("üìÇ Loading already-clean 2024-25 data...\n")
#         df_2024 = pd.read_csv(file_2024_25)
#         print(f"‚úÖ 2024-25 data loaded with {df_2024.shape[0]} rows.")

#         print("\nüõ† Cleaning and loading 2025-26 raw files...\n")
#         df_2025 = load_and_clean_data(file4, file5)  # No need to pass None for unused files
#         print(f"‚úÖ 2025-26 data cleaned with {df_2025.shape[0]} rows.")

#         # üìå Combine datasets
#         df = pd.concat([df_2024, df_2025], ignore_index=True)
#         print(f"\nüîÑ Combined dataset has {df.shape[0]} rows.\n")

#         # üìå Process attendance data
#         print("‚öôÔ∏è Processing attendance data...\n")
#         df_unpivot = process_attendance_data(df)
#         df_unpivot.to_csv(output_file, index=False)

#         print(f"‚úÖ Processed data saved with {df_unpivot.shape[0]} rows.\n")
#         print("‚úÖ Columns are:\n", df_unpivot.columns)
#         if not df_unpivot.empty:
#             print("üìÖ Max date in dataset:", df_unpivot["date"].max())
#         print(df_unpivot.head())

#         # üìå Update database
#         print("\nüíæ Updating database...\n")
#         ensure_table_exists()
#         update_database(df_unpivot)

#         print("\nüéØ Attendance report processing completed successfully!")
#         print(f"üìä Final row count: {df_unpivot.shape[0]}\n")

#     except Exception as e:
#         print(f"‚ùå An unexpected error occurred: {e}\n")
#         logging.error(f"‚ùå Unexpected error: {e}\n")


# # Run script
# main()

<h2 align="center"><b>Class Table</b></h2>

In [36]:
# import pandas as pd
# from sqlalchemy import create_engine, text

# POSTGRES_CREDENTIALS = {
#     "username": "postgres",
#     "password": "Hari@123",
#     "host": "localhost",
#     "port": "5432",
#     "database": "kotakschooldb",
# }
# TABLE_NAME = "class_table"

In [37]:
# df = pd.read_csv(r"D:\GITHUB\kotak-school-dbms\output_data\class_section_grade_table.csv")
# # df["ClassNo"] = df["ClassNo"].astype(int)
# df.head()

In [38]:
# df.columns

In [39]:
# import time
# import traceback
# import logging
# import pandas as pd
# import urllib
# import io
# from sqlalchemy import create_engine, text
# from sqlalchemy.exc import OperationalError

# # Retry settings
# MAX_RETRIES = 3
# RETRY_DELAY = 5  # Seconds

# def bulk_insert_postgres(df, conn, table_name):
#     """Fast bulk insert using PostgreSQL COPY command."""
#     with conn.connection.cursor() as cur:
#         output = io.StringIO()
#         df.to_csv(output, sep="\t", index=False, header=False)
#         output.seek(0)
#         cur.copy_from(output, table_name, sep="\t", null="NULL")
#         conn.connection.commit()

# def update_database(df):
#     """Insert attendance data into PostgreSQL database with retry logic."""
#     password = urllib.parse.quote(POSTGRES_CREDENTIALS["password"])
#     engine = create_engine(f"postgresql+psycopg2://{POSTGRES_CREDENTIALS['username']}:{password}"
#                            f"@{POSTGRES_CREDENTIALS['host']}:{POSTGRES_CREDENTIALS['port']}/{POSTGRES_CREDENTIALS['database']}")

#     for attempt in range(1, MAX_RETRIES + 1):
#         try:
#             print(f"üîÑ Attempt {attempt}: Connecting to database {POSTGRES_CREDENTIALS['database']} at {POSTGRES_CREDENTIALS['host']}...")
#             with engine.begin() as conn:
#                 print(f"‚úÖ Connection established.")

#                 # Create Table if it does not exist
#                 print(f"Checking if table '{TABLE_NAME}' exists...")
                
#                 # Truncate the table before inserting data
#                 print(f"Truncating existing table: {TABLE_NAME}")
#                 conn.execute(text(f"TRUNCATE TABLE {TABLE_NAME} CASCADE;"))
                
#                 print(f"Deleting data from {TABLE_NAME} table...")
#                 conn.execute(text(f"DELETE FROM {TABLE_NAME};"))


#                 # Fast Bulk Insert
#                 print(f"Inserting data into {TABLE_NAME} table...")
#                 bulk_insert_postgres(df, conn, TABLE_NAME)

#                 print(f"‚úÖ Data successfully inserted into '{TABLE_NAME}' table.")
#                 return  # Exit function if successful

#         except OperationalError as e:
#             print(f"‚ùå OperationalError: {e}")
#             logging.error(f"‚ùå OperationalError: {e}")
#             logging.error("Error Traceback:\n" + traceback.format_exc())

#             if attempt < MAX_RETRIES:
#                 print(f"üîÑ Retrying in {RETRY_DELAY} seconds...")
#                 time.sleep(RETRY_DELAY)
#             else:
#                 print("‚ùå Max retries reached. Could not update the database.")
#                 logging.error("‚ùå Max retries reached. Could not update the database.")
#                 return

In [40]:
# update_database(df)

<h2 align="center"><b>FEE COLLECTION REPORT 2024-25</b></h2>

## **Import Required Libraries**

In [41]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import urllib.parse
import numpy as np
import logging
from sqlalchemy import create_engine, text

In [42]:
# üìå Logging
logging.basicConfig(filename="fee_collection_merge.log", level=logging.ERROR)

# üîê Credentials & URLs
login_url = "https://app.myskoolcom.tech/kotak_vizag/login"
credentials = {"uname": "harikiran", "psw": "812551"}
urls = {
    "2024_25": "https://app.myskoolcom.tech/kotak_vizag/office_fee/fee_consolidate_report_print?&from=2025-04-01&academic_years_id=1&status=1&imageField=Search",
    "2025_26": "https://app.myskoolcom.tech/kotak_vizag/office_fee/fee_consolidate_report_print?&from=2024-04-01&academic_years_id=7&status=1&imageField=Search"
}

# üõ†Ô∏è PostgreSQL Config
POSTGRES_CREDENTIALS = {
    "username": "postgres",
    "password": "Hari@123",
    "host": "localhost",
    "port": "5432",
    "database": "kotakschooldb",
}
TABLE_NAME = "fees_collection"

In [43]:
# üîå Create Engine
def get_engine():
    password = urllib.parse.quote(POSTGRES_CREDENTIALS["password"])
    return create_engine(
        f"postgresql+psycopg2://{POSTGRES_CREDENTIALS['username']}:{password}"
        f"@{POSTGRES_CREDENTIALS['host']}:{POSTGRES_CREDENTIALS['port']}/{POSTGRES_CREDENTIALS['database']}"
    )

# üîë Login
def login_to_website():
    session = requests.Session()
    response = session.post(login_url, data=credentials)
    if "Invalid" in response.text:
        print("‚ùå Login failed!")
        return None
    print("‚úÖ Login successful!")
    return session

In [44]:
# üßæ Convert HTML table to DataFrame
def table_to_dataframe(table):
    headers = [th.get_text(strip=True) for th in table.find_all("th")]
    rows = [[td.get_text(strip=True) for td in tr.find_all("td")] for tr in table.find_all("tr")[1:]]
    return pd.DataFrame(rows, columns=headers) if rows else None

# üì• Fetch fee table from a given URL
def fetch_fee_table(session, url):
    response = session.get(url)
    soup = BeautifulSoup(response.text, "html.parser")
    tables = soup.find_all("table", class_="b-t")
    all_data = []

    for table in tables:
        df = table_to_dataframe(table)
        if df is not None:
            all_data.append(df)

    return pd.concat(all_data, ignore_index=True) if all_data else pd.DataFrame()

In [45]:
def clean_data(df, academic_year):
    df = df[~df.iloc[:, 0].astype(str).str.startswith("Total", na=False)].copy()
    df["Admin No."] = df["Admin No."].astype(str)

    if academic_year == "2025_26":
        df.columns = ['SNo', 'AdmissionNo', 'Name', 'Abacus1', 'TermFee1', 'TermFee2',
                      'Total_Fees', 'Abacus2', 'TermFee3', 'TermFee4',
                      'Total_Fee_Paid', 'Discount_Concession', 'Total_Due']
        df = df.drop(columns=["SNo", "Abacus1", "Abacus2", "TermFee1", "TermFee2", "TermFee3", "TermFee4"])

    elif academic_year == "2024_25":
        df.columns = ['SNo', 'AdmissionNo', 'Name', 'Abacus1', 'TermFee1',
                      'Total_Fees', 'Abacus2', 'TermFee2',
                      'Total_Fee_Paid', 'Discount_Concession', 'Total_Due']
        df = df.drop(columns=["SNo", "Abacus1", "Abacus2", "TermFee1", "TermFee2"])

    else:
        raise ValueError(f"Unknown academic year structure: {academic_year}")

    # Convert numeric columns safely
    numeric_columns = ["Total_Fees", "Total_Fee_Paid", "Discount_Concession", "Total_Due"]
    for col in numeric_columns:
        df[col] = (
            df[col].astype(str)
            .str.replace(",", "", regex=False)
            .replace(["", "None", "nan", "NaN", np.nan], 0)
        )
        df[col] = pd.to_numeric(df[col], errors='coerce').fillna(0).astype(int)

    df["academic_year_id"] = 1 if academic_year =="2024_25" else 2

    # df = df[~((df["AdmissionNo"].str.extract(r"(\d+)").astype(int) > 17164) & (df["academic_year_id"] == 1))].copy()

    df.to_csv(f"D:\\GITHUB\\kotak-school-dbms\\output_data\\fees_collection.csv", index=False)
    df = df.drop(columns=["Name"])
    return df

In [46]:
from sqlalchemy import text

def ensure_fees_collection_table(engine):
    create_table_sql = """
    CREATE TABLE IF NOT EXISTS fees_collection (
        id SERIAL PRIMARY KEY,
        admissionno TEXT,
        total_fee_paid INTEGER,
        academic_year_id INTEGER NOT NULL,
        total_fees INTEGER default 0,
        discount_concession INTEGER default 0,
        total_due INTEGER default 0
    );
    """
    try:
        with engine.begin() as conn:
            conn.execute(text(create_table_sql))
        print("‚úÖ Table 'fees_collection' ensured.")
    except Exception as e:
        print(f"‚ùå Error creating table: {e}")

In [47]:
# üõ¢Ô∏è Insert into PostgreSQL
def update_database(df, table_name):
    engine = get_engine()
    try:
        with engine.begin() as conn:
            print(f"‚ö†Ô∏è Deleting old records from '{table_name}'...")
            conn.execute(text(f"DELETE FROM {table_name};"))
            print(f"‚úÖ Table '{table_name}' cleared.")
        df.columns = df.columns.str.lower()
        print(f"üì• Inserting {len(df)} rows...")
        df.to_sql(name=table_name, con=engine, if_exists='append', index=False, method='multi', chunksize=1000)
        print(f"‚úÖ Inserted into '{table_name}' successfully.")
    except Exception as e:
        print(f"‚ùå Error inserting: {e}")
        logging.error(f"Database insert error: {e}")
    finally:
        engine.dispose()

In [48]:
# üöÄ Main Logic
def main():
    session = login_to_website()
    if session is None:
        return

    merged_df = pd.DataFrame()
    
    for year, url in urls.items():
        print(f"\nüîÑ Fetching data for {year}...")
        raw_df = fetch_fee_table(session, url)
        if raw_df.empty:
            print(f"‚ùå No data for {year}!")
            continue
        clean_df = clean_data(raw_df, academic_year=year)
        merged_df = pd.concat([merged_df, clean_df], ignore_index=True)

    if merged_df.empty:
        print("‚ùå No data collected from any year!")
        return

    # Save CSV (optional)
    merged_df.to_csv("merged_fee_collection.csv", index=False)
    print("üìÅ Saved to merged_fee_collection.csv")

    # Ensure table exists
    engine = get_engine()
    ensure_fees_collection_table(engine)
    print("‚úÖ Fees collection table ensured.")
    # Push to DB
    update_database(merged_df, TABLE_NAME)
    print(f"‚úÖ All done! Total records: {len(merged_df)}")

if __name__ == "__main__":
    main()

‚úÖ Login successful!

üîÑ Fetching data for 2024_25...

üîÑ Fetching data for 2025_26...
üìÅ Saved to merged_fee_collection.csv
‚úÖ Table 'fees_collection' ensured.
‚úÖ Fees collection table ensured.
‚ö†Ô∏è Deleting old records from 'fees_collection'...
‚úÖ Table 'fees_collection' cleared.
üì• Inserting 3240 rows...
‚úÖ Inserted into 'fees_collection' successfully.
‚úÖ All done! Total records: 3240

<h2 align="center"><b>FEE CONCESSION REPORT</b></h2>

In [49]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import urllib.parse
import logging
from datetime import date
from sqlalchemy import create_engine, text

# ------------------ Configuration ------------------
login_url = "https://app.myskoolcom.tech/kotak_vizag/login"
data_url_2024_25 = "https://app.myskoolcom.tech/kotak_vizag/office_fee/fee_discounts_report_receipt_wise_print?&academic_years_id=1"
data_url_2025_26 = "https://app.myskoolcom.tech/kotak_vizag/office_fee/fee_discounts_report_receipt_wise_print?&academic_years_id=7"

credentials = {
    "uname": "harikiran",
    "psw": "812551"
}

POSTGRES_CREDENTIALS = {
    "username": "postgres",
    "password": "Hari@123",
    "host": "localhost",
    "port": "5432",
    "database": "kotakschooldb",
}

TABLE_NAME = "fee_concession_report"
OUTPUT_PATH = r"D:\GITHUB\kotak-school-dbms\output_data\fee_concession_report.csv"

In [50]:
# ------------------ Login Function ------------------
def login_to_website():
    session = requests.Session()
    login_response = session.post(login_url, data=credentials)

    if login_response.status_code != 200:
        print("‚ùå Login request failed! Server error.\n")
        return None

    soup = BeautifulSoup(login_response.text, "html.parser")
    if soup.find("div", class_="alert-danger"):
        print("‚ùå Login failed! Check credentials.\n")
        return None

    print("‚úÖ Login successful!\n")
    return session

In [51]:
# ------------------ Fetch Table Data ------------------
def fetch_all_concession_tables(session, data_url):
    response = session.get(data_url)
    soup = BeautifulSoup(response.text, "html.parser")

    tables = soup.find_all("table", class_="table_view")
    if not tables:
        print("‚ùå No fee tables found! The page structure may have changed.")
        return None

    all_data = []
    for table in tables:
        df = table_to_dataframe(table)
        if df is not None:
            all_data.append(df)

    if not all_data:
        print("‚ùå No data extracted from tables.")
        return None

    return pd.concat(all_data, ignore_index=True)

In [52]:
# ------------------ HTML Table to DataFrame ------------------
def table_to_dataframe(table):
    headers = [th.get_text(strip=True) for th in table.find_all("th")]
    if len(headers) > 8:
        headers = headers[:8]

    rows = []
    for tr in table.find_all("tr")[1:]:
        cells = [td.get_text(strip=True) for td in tr.find_all("td")]
        if len(cells) >= 8:
            rows.append(cells[:8])

    return pd.DataFrame(rows, columns=headers) if rows else None

In [53]:
# ------------------ Clean DataFrame ------------------
def clean_data(df):
    df.columns = df.columns.str.strip().str.replace(" ", "_").str.lower()
    df = df.dropna(subset=["student_number"])
    df["student_number"] = df["student_number"].astype(str).str.strip()
    df["discount_given"] = pd.to_numeric(df["discount_given"], errors="coerce").fillna(0.00)
    df.drop(columns=['receipt_no', 'fee_name', 'fee_amount', 'total_due_amount'], errors="ignore", inplace=True)
    df["date"] = pd.to_datetime(df["date"].astype(str).str.strip(), errors="coerce").dt.date
    df = df.dropna(subset=["date"])

    df["id"] = range(1, len(df) + 1)

    # Ensure academic_year is kept if present
    cols = ['id', 'date', 'student_number', 'student_name', 'discount_given']
    if "academic_year" in df.columns:
        cols.append("academic_year")

    df = df[cols]
    df.reset_index(drop=True, inplace=True)

    df['academic_year_id'] = df['academic_year'].apply(
        lambda x: 1 if x == "2024-25" else 2 if x == "2025-26" else None
    )
    
    df.to_csv(OUTPUT_PATH, index=False)
    print(f"‚úÖ Cleaned data saved to {OUTPUT_PATH}\n")

    df = df.drop(columns=['student_name', "academic_year"], errors="ignore")

    return df

In [54]:
def update_database(df: pd.DataFrame, table_name: str, postgres_credentials: dict):
    password = urllib.parse.quote(postgres_credentials["password"])
    engine = create_engine(
        f"postgresql+psycopg2://{postgres_credentials['username']}:{password}"
        f"@{postgres_credentials['host']}:{postgres_credentials['port']}/{postgres_credentials['database']}"
    )

    try:
        with engine.begin() as conn:
            print(f"üîÑ Connecting to database {postgres_credentials['database']}...")

            # ‚úÖ Create table if not exists
            conn.execute(text(f"""
                CREATE TABLE IF NOT EXISTS {table_name} (
                    id SERIAL PRIMARY KEY,
                    date DATE,
                    student_number VARCHAR(20),
                    discount_given NUMERIC(10, 2),
                    academic_year_id INTEGER
                );
            """))
            print(f"‚úÖ Ensured '{table_name}' table exists.")

            # üîÑ Clear existing records
            print(f"‚ö†Ô∏è Deleting existing records from: {table_name}")
            conn.execute(text(f"DELETE FROM {table_name};"))
            print(f"‚úÖ Table '{table_name}' cleared.\n")

        # üì• Insert Data
        print(f"üì• Inserting data into {table_name} table...")
        df.to_sql(name=table_name, con=engine, if_exists="append", index=False, method="multi", chunksize=1000)
        print(f"‚úÖ Data successfully inserted into '{table_name}' table.\n")

    except Exception as e:
        logging.error(f"‚ùå Error updating database: {e}", exc_info=True)
        print(f"‚ùå Error occurred while updating database: {e}")

    finally:
        engine.dispose()

In [55]:
def main():
    session = login_to_website()
    if session is None:
        return

    df_2024_25 = fetch_all_concession_tables(session, data_url_2024_25)
    df_2025_26 = fetch_all_concession_tables(session, data_url_2025_26)

    if df_2024_25 is None or df_2025_26 is None:
        print("‚ùå Could not fetch data for one or both academic years.")
        return

    df_2024_25["academic_year"] = "2024-25"
    df_2025_26["academic_year"] = "2025-26"

    merged_df = pd.concat([df_2024_25, df_2025_26], ignore_index=True)

    print("‚úÖ Data extracted successfully! Cleaning data...\n")
    cleaned_df = clean_data(merged_df)

    output_file = r"D:\\GITHUB\\kotak-school-dbms\\output_data\\fee_concession_report_combined.csv"
    cleaned_df.to_csv(output_file, index=False)
    print(cleaned_df.columns)
    print(f"‚úÖ Data saved to '{output_file}'\n")

    update_database(cleaned_df, TABLE_NAME, POSTGRES_CREDENTIALS)
    print(f"‚úÖ {len(cleaned_df)} records entered into the database")

    print(cleaned_df.to_string())

In [56]:
# ------------------ Run Script ------------------
if __name__ == "__main__":
    main()

‚úÖ Login successful!

‚úÖ Data extracted successfully! Cleaning data...

‚úÖ Cleaned data saved to D:\GITHUB\kotak-school-dbms\output_data\fee_concession_report.csv

Index(['id', 'date', 'student_number', 'discount_given', 'academic_year_id'], dtype='object')
‚úÖ Data saved to 'D:\\GITHUB\\kotak-school-dbms\\output_data\\fee_concession_report_combined.csv'

üîÑ Connecting to database kotakschooldb...
‚úÖ Ensured 'fee_concession_report' table exists.
‚ö†Ô∏è Deleting existing records from: fee_concession_report
‚úÖ Table 'fee_concession_report' cleared.

üì• Inserting data into fee_concession_report table...
‚úÖ Data successfully inserted into 'fee_concession_report' table.

‚úÖ 234 records entered into the database
      id        date student_number  discount_given  academic_year_id
0      1  2024-07-27          15660           500.0                 1
1      2  2024-07-27          16070           500.0                 1
2      3  2024-07-27          16105           500.0                 1
3      4  2024-07-27          16165           500.0                 1
4      5  2024-07-27          15018           500.0                 1
5      6  2024-07-27          15363           500.0                 1
6      7  2024-07-27          16921           500.0                 1
7      8  2024-07-27          16970           500.0                 1
8      9  2024-07-27          16985           500.0                 1
9     10  2024-07-27          16779           500.0                 1
10    11  2024-07-27          16967           500.0                 1
11    12  2024-07-27          15213           500.0                 1
12    13  2024-07-27          15532           500.0                 1
13    14  2024-07-27          15526           500.0                 1
14    15  2024-07-27          16765           500.0                 1
15    16  2024-07-27          15261           500.0                 1
16    17  2024-07-27          16499           500.0                 1
17    18  2024-07-27          16416           500.0                 1
18    19  2024-07-27          15278           500.0                 1
19    20  2024-07-27          17014           500.0                 1
20    21  2024-07-27          14861           500.0                 1
21    22  2024-07-27          15277           500.0                 1
22    23  2024-07-27          14502           500.0                 1
23    24  2024-07-27          16132           500.0                 1
24    25  2024-07-27          15275           500.0                 1
25    26  2024-07-27          14606           500.0                 1
26    27  2024-07-27          15402           500.0                 1
27    28  2024-07-29          16587           500.0                 1
28    29  2024-07-29          16393           400.0                 1
29    30  2024-07-29          16393           500.0                 1
30    31  2024-07-29          16340           500.0                 1
31    32  2024-07-29          17091           500.0                 1
32    33  2024-07-29          16441           500.0                 1
33    34  2024-07-29          16500           500.0                 1
34    35  2024-07-29          17060           500.0                 1
35    36  2024-07-29          15711           500.0                 1
36    37  2024-07-30          16192           500.0                 1
37    38  2024-07-31          16324           500.0                 1
38    39  2024-08-01          15748           500.0                 1
39    40  2024-08-02          14606         20900.0                 1
40    41  2024-08-13          14881           500.0                 1
41    42  2024-08-19          15347         15400.0                 1
42    43  2024-08-19          14615         19800.0                 1
43    44  2024-09-14          16228         20900.0                 1
44    45  2024-09-28          14321         20900.0                 1
45    46  2024-10-18          15744         14850.0                 1
46    47  2024-10-29          14747         19800.0                 1
47    48  2024-12-23          15402         20400.0                 1
48    49  2024-12-24          15402           500.0                 1
49    50  2025-02-04          16183         20900.0                 1
50    51  2025-02-04          13917         20900.0                 1
51    52  2025-02-04          14406         20900.0                 1
52    53  2025-02-09          17069          7700.0                 1
53    54  2025-02-09          17070          7975.0                 1
54    55  2025-02-09          16405         14300.0                 1
55    56  2025-02-09          15274          2500.0                 1
56    57  2025-02-09          15546          2500.0                 1
57    58  2025-02-09          16184          7425.0                 1
58    59  2025-02-19          16600         14300.0                 1
59    60  2025-02-19          15980          7425.0                 1
60    61  2025-02-19          16975         14850.0                 1
61    62  2025-02-20          15602          7700.0                 1
62    63  2025-02-20          16564          7700.0                 1
63    64  2025-02-20          14932          7975.0                 1
64    65  2025-02-20          15325          5000.0                 1
65    66  2025-02-21          16163          2500.0                 1
66    67  2025-02-21          15526          7700.0                 1
67    68  2025-02-21          15612          4000.0                 1
68    69  2025-02-21          15261          7700.0                 1
69    70  2025-02-21          14254          4000.0                 1
70    71  2025-03-03          14850          3000.0                 1
71    72  2025-03-04          14606           500.0                 1
72    73  2025-03-08          14000         10450.0                 1
73    74  2025-03-08          14931          2500.0                 1
74    75  2025-03-08          15775          2500.0                 1
75    76  2025-03-08          16917          6050.0                 1
76    77  2025-03-08          16347          7150.0                 1
77    78  2025-03-08          14868          3000.0                 1
78    79  2025-03-08          15869          7700.0                 1
79    80  2025-03-08          15939         10450.0                 1
80    81  2025-03-08          17020          7150.0                 1
81    82  2025-03-08          13845          6000.0                 1
82    83  2025-03-08          14228          8000.0                 1
83    84  2025-03-08          16374          5000.0                 1
84    85  2025-03-08          15648          5000.0                 1
85    86  2025-03-08          14108          3000.0                 1
86    87  2025-03-19          16143          7425.0                 1
87    88  2025-03-19          15788          5000.0                 1
88    89  2025-03-19          15511          7700.0                 1
89    90  2025-03-19          16200          7150.0                 1
90    91  2025-03-19          16024          3000.0                 1
91    92  2025-03-19          15231          3000.0                 1
92    93  2025-03-19          16637          6050.0                 1
93    94  2025-03-19          15945             0.0                 1
94    95  2025-03-19          15945         15400.0                 1
95    96  2025-03-19          14224         10450.0                 1
96    97  2025-03-19          16026          3000.0                 1
97    98  2025-03-19          15880          7700.0                 1
98    99  2025-03-20          15479         15400.0                 1
99   100  2025-03-20          16984         12100.0                 1
100  101  2025-03-21          15780          3000.0                 1
101  102  2025-03-22          17052          7150.0                 1
102  103  2025-03-22          15923          7425.0                 1
103  104  2025-03-22          15301          7975.0                 1
104  105  2025-04-05          13834         20900.0                 1
105  106  2025-04-05          17126          6050.0                 1
106  107  2025-04-05          17125          7150.0                 1
107  108  2025-04-05          15158          7975.0                 1
108  109  2025-04-05          16783          4000.0                 1
109  110  2025-04-05          16782          4000.0                 1
110  111  2025-04-05          14488         10450.0                 1
111  112  2025-04-05          15746          7425.0                 1
112  113  2025-04-05          15746          7425.0                 1
113  114  2025-04-05          15625          7425.0                 1
114  115  2025-04-05          16969          6050.0                 1
115  116  2025-04-05          14099         10450.0                 1
116  117  2025-04-05          15631          7700.0                 1
117  118  2025-04-05          16317          7425.0                 1
118  119  2025-04-30          16654          6050.0                 1
119  120  2025-04-30          14517          9900.0                 1
120  121  2025-04-30          14867         15950.0                 1
121  122  2025-04-30          14907         15950.0                 1
122  123  2025-04-30          15370          4000.0                 1
123  124  2025-04-30          15554          5000.0                 1
124  125  2025-04-30          15185          4000.0                 1
125  126  2025-04-30          17050          4000.0                 1
126  127  2025-04-30          16179          5000.0                 1
127  128  2025-04-30          15400          7975.0                 1
128  129  2025-04-30          16263          7425.0                 1
129  130  2025-04-30          16762         14300.0                 1
130  131  2025-04-30          15621         20900.0                 1
131  132  2025-04-30          14546          9900.0                 1
132  133  2025-04-30          14669          7975.0                 1
133  134  2025-04-30          14958          7975.0                 1
134  135  2025-04-30          14543          4000.0                 1
135  136  2025-04-30          16193          7425.0                 1
136  137  2025-04-30          14630         19800.0                 1
137  138  2025-04-30          14243         20900.0                 1
138  139  2025-04-30          15669          5000.0                 1
139  140  2025-04-30          16076          4000.0                 1
140  141  2025-04-30          16414          3000.0                 1
141  142  2025-04-30          15850          3000.0                 1
142  143  2025-04-30          15613          3000.0                 1
143  144  2025-04-30          14944          5000.0                 1
144  145  2025-04-30          14863          3500.0                 1
145  146  2025-04-30          13863          4000.0                 1
146  147  2025-04-30          15520          3000.0                 1
147  148  2025-04-30          15584          3000.0                 1
148  149  2025-04-30          14953          3000.0                 1
149  150  2025-04-30          16077          9900.0                 1
150  151  2025-04-30          16078         10450.0                 1
151  152  2025-05-03          14879         15950.0                 1
152  153  2025-05-03          15459          7700.0                 1
153  154  2025-05-03          15459          7700.0                 1
154  155  2025-08-05          14497           500.0                 1
155  156  2025-08-05          15019          1000.0                 1
156  157  2025-08-05          16886          3000.0                 1
157  158  2025-08-05          16887          3500.0                 1
158  159  2025-08-05          16888          3000.0                 1
159  160  2025-08-05          16926         12100.0                 1
160  161  2025-08-05          16836         12100.0                 1
161  162  2025-08-05          16360         14300.0                 1
162  163  2025-08-05          14947         15950.0                 1
163  164  2025-08-05          14977         15950.0                 1
164  165  2025-08-05          16540         14300.0                 1
165  166  2025-08-05          13869         20900.0                 1
166  167  2025-08-05          15840         14850.0                 1
167  168  2025-08-05          13828             0.0                 1
168  169  2025-08-05          13828         20900.0                 1
169  170  2025-08-05          15932         14850.0                 1
170  171  2025-08-05          14614         19800.0                 1
171  172  2025-08-05          16613          8000.0                 1
172  173  2025-08-05          16614          7425.0                 1
173  174  2025-08-05          16614          7425.0                 1
174  175  2025-08-05          14384         20900.0                 1
175  176  2025-08-05          13625         10450.0                 1
176  177  2025-08-06          13856         10450.0                 1
177  178  2025-08-06          13822         10450.0                 1
178  179  2025-08-06          13822         10450.0                 1
179  180  2025-08-06          14686          6000.0                 1
180  181  2025-08-06          15012          7500.0                 1
181  182  2025-08-06          15011          7500.0                 1
182  183  2025-08-06          15155          7700.0                 1
183  184  2025-08-06          15512          7425.0                 1
184  185  2025-08-06          15215          7700.0                 1
185  186  2025-08-06          15915          6000.0                 1
186  187  2025-08-06          16295          7425.0                 1
187  188  2025-08-06          16576          7150.0                 1
188  189  2025-08-06          16390          6000.0                 1
189  190  2025-08-06          16507          7150.0                 1
190  191  2025-08-07          16483         14300.0                 1
191  192  2025-08-07          16864         14300.0                 1
192  193  2025-07-04          16967           500.0                 2
193  194  2025-07-04          17221           500.0                 2
194  195  2025-07-04          17274           500.0                 2
195  196  2025-07-04          16393           500.0                 2
196  197  2025-07-04          17012           500.0                 2
197  198  2025-07-04          16340           500.0                 2
198  199  2025-07-04          17023           500.0                 2
199  200  2025-07-04          17084           500.0                 2
200  201  2025-07-04          16813           500.0                 2
201  202  2025-07-04          16105           500.0                 2
202  203  2025-07-04          17025           500.0                 2
203  204  2025-07-04          16070           500.0                 2
204  205  2025-07-04          15744           500.0                 2
205  206  2025-07-04          17034           500.0                 2
206  207  2025-07-04          16192           500.0                 2
207  208  2025-07-04          15213           500.0                 2
208  209  2025-07-04          15396           500.0                 2
209  210  2025-07-04          16068           500.0                 2
210  211  2025-07-04          14502           500.0                 2
211  212  2025-07-04          15018           500.0                 2
212  213  2025-07-04          15363           500.0                 2
213  214  2025-07-04          14488           500.0                 2
214  215  2025-07-04         14384A           500.0                 2
215  216  2025-07-04          16921           500.0                 2
216  217  2025-07-04          17048           500.0                 2
217  218  2025-07-04          17322           500.0                 2
218  219  2025-07-04          16985           500.0                 2
219  220  2025-07-08          16587           500.0                 2
220  221  2025-07-08          16325           500.0                 2
221  222  2025-07-08          15324           500.0                 2
222  223  2025-07-08          15048           500.0                 2
223  224  2025-07-15          15831           500.0                 2
224  225  2025-07-15          15832           500.0                 2
225  226  2025-07-15          14321           500.0                 2
226  227  2025-07-18          15660           500.0                 2
227  228  2025-07-18          16500           500.0                 2
228  229  2025-07-18          17060           500.0                 2
229  230  2025-07-18          16499           500.0                 2
230  231  2025-07-21          16765           500.0                 2
231  232  2025-08-05          14497           500.0                 2
232  233  2025-08-05          14867           500.0                 2
233  234  2025-08-22          15453           500.0                 2