In [1]:
import pandas as pd
df = pd.read_csv(r"D:\GITHUB\kotak-school-dbms\output_data\students_data.csv")
df

,s_no,adm_no,name,class,gender,mother_name,father_name,pen_number,dob,phone_no,religion,caste,sub_caste,second_lang,remarks,class_nos,joined_year,grades,academic_year,status
0,1,17159,CHAITHRA PRESINGU,Pre KG,FEMALE,NaN,P VENKATESH,NaN,2021-12-13,7093316614,Hindu,BC - A,NaN,Telugu,NaN,1,NaN,1.0,2024-25,continuing
1,2,17349,NANDOLI DAKSHINYA,PRE KG,FEMALE,NANDOLI VARALAKSHMI,NANDOLI BALAKRISHNA,NaN,2022-03-31,9440833020,Hindu,H-S.T,S.T,TEL,NaN,1,NaN,NaN,2025-26,new
2,3,16935,DHRUVITA PRAARTHANA SAVARAPU,Pre KG,FEMALE,NaN,S VENKATESH,NaN,2021-07-18,9912246176,Hindu,SC,JAMBAVULU,Telugu,NO CASTE CERTIFICATE,1,NaN,1.0,2024-25,left
3,4,17216,SANVI KUNDU,PRE KG,FEMALE,SONIA,AMIT,NaN,2022-04-27,8930256986,Hindu,H- OC,NaN,HIN,NaN,1,NaN,NaN,2025-26,new
4,5,17158,DHRUVITHA ALPHONSEY SONGA,Pre KG,FEMALE,NaN,RAVI KUMAR SONGA,NaN,2021-07-28,8341709383,Hindu,SC,MADIGA,Telugu,NO CASTE CERTIFICATE,1,NaN,1.0,2024-25,continuing
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3377,3378,14432,VADAMODULA HARSHA VARDHAN,X - C,MALE,VADAMODULA DWARAKA,VADAMODULA HARI GOVARADHANA KISHORE,20553681416,2011-06-27,9705577688,Hindu,H-B.C-A,NaN,TEL,NaN,43,NaN,NaN,2025-26,continuing
3378,3379,13863,UPENDRA MUTCHI,X - C,MALE,M ANITHA,M APPALARAJU,20291428829,2009-10-09,9000909440,Hindu,BC - D,NaN,NaN,NaN,43,NaN,13.0,2024-25,left
3379,3380,14236,YADLA VENKATA SIVA NARASIMHA,X - C,MALE,YADLA SATYAVATHI,YADLA BANGARAYYA,20975406594,2010-06-13,9866032284,Hindu,H-BC-D,NaN,TEL,NaN,43,NaN,NaN,2025-26,continuing
3380,3381,14360,VARUN PRESINGI,X - C,MALE,PRESINGI VISWANTHI KUMARI,PRESINGI BRAHMMAJI,20337275559,2009-05-25,8790079115,Hindu,BC - A,NaN,NaN,NaN,43,NaN,13.0,2024-25,left
3381,3382,13796,VINAY PIDUGU,X - C,MALE,PDAMAYANTHI,P LEELA GOPI KRISHNA,20342807301,2010-08-21,8520802011,Hindu,SC,MALA,NaN,NO CASTE CERTIFICATE,43,2013.0,13.0,2024-25,left

In [2]:
df[df["dob"].isna()]

Empty DataFrame
Columns: [s_no, adm_no, name, class, gender, mother_name, father_name, pen_number, dob, phone_no, religion, caste, sub_caste, second_lang, remarks, class_nos, joined_year, grades, academic_year, status]
Index: []